.cuadro {
  background-color: yellow;
  height: 150px;
  width: 150px;
  padding: 50px 40px 30px 20px;
  margin: 20px 40px;
  border: 10px solid yellow;
  border-radius: 10px 20px 30px 40px;
 
}

.el-1 { /* POSICIÓN FIXED: SE MUEVE CON RESPECTO A LA NAVEGACION */
  background-color: blue;
  
}
.el-2 { /* POSICION ABSOLUTA. CAMBIO CON RESPECTO A LA PANTALLA */
  background-color: red;
  
}
.el-3 { /* POSICIÓN RELATIVA. CAMBIO CON RESPECTO A SU ORIGEB */
  background-color: green;
  
}
.el-4 {
  background-color: dark;
}
.el-5 { /* POSICIÓN STICKY. SUBE Y CUANDO LLEGA AL 0 SE QUEDA PEGADO */
  background-color: pink;
  
}
