header{
    background-image: url(../imagenes/header.jpg);
    width: auto;
    height: 500px;
}
#img1_foto{
    display: block;
    position: absolute;
    top: 30px;
    left: 40px;
    width: 350px;
    opacity: 0.9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0px 0px 15px 15px rgb(76, 83, 109);
    
}
#img2_facebook{
    width: 80px;
    position: absolute;
    top: 410px;
    left: 40px;
    
}

#img2_facebook:hover{
    transform: scale(1.2);
}

#img3_instagram{ 
    width: 76px;
    position: absolute;
    top: 413px;
    left: 150px;
}

#img3_instagram:hover{
    transform: scale(1.2);
}


#img4_github{
    width: 100px;
    position: absolute;
    top: 420px;
    left: 240px;
}

#img4_github:hover{
    transform: scale(1.2);
}


#img5_linkedin{
    width: 60px;
    position: absolute;
    top: 420px;
    left: 360px;
}

#img5_linkedin:hover{
    transform: scale(1.2);
}

#div1{
    height: 500px;
    width: 858px;
    position: absolute;
    top: 5px;
    left: 500px;

}

#nombre{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    position: absolute;
    left: 160px;
    color: white;

}

#ocupacion1{
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif ;
    position: absolute;
    left: 190px;
    top: 150px;
    color:rgb(141, 25, 145) ;
}

#ocupacion2{
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif ;
    position: absolute;
    left: 100px;
    top: 270px;
    color:rgb(24, 42, 141) ;
}